@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #000000;
    --cor2: #0d0203;
    --cor3: #1f1f1f;
    --cor4: #231f20;
    --cor5: #2a3240;
    --cor6: #3b3b3b;
    --cor7: #3023d2;
    --cor8: #38b6ff;
    --cor9: #3a159e;
    --cor10: #3fb9e2;
    --cor11: #4f0c87;
    --cor12: #5271ff;
    --cor13: #7b13c3;
    --cor14: #b3b3b3;
    --cor15: #e8e8e8;
    --cor16: #fb6a7a;
    --cor17: #ff5757;
}

body{
    background-image: linear-gradient(to right, var(--cor17), var(--cor16), var(--cor13), var(--cor9));
}

form{
    height: 800px;
    justify-content: left;
    align-items: center;
    display: flex;
    justify-items: center;
    margin-left: 100px;
}

@media ma {
    
}


fieldset{        
    width: 400px;
    height: 450px;
    display: grid;
    gap: 4px;
    grid-template-columns: 1;
    border: 1px solid black;
    padding: 30px;
    border-radius: 20px;
    background-color: var(--cor14);
}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 0px;
    color: var(--cor17);
}

h2{
    text-align: center;
    font-size: 2rem;
    color: var(--cor7);
}

p{
    text-align: center;
}

img{
    display: flex;
    position: absolute;
    width: 650px;
    left: 700px;
    top: 20px;
}

label{
    font-size: 1.2rem;
}

input{
    border-radius: 20px;
    padding: 8px;
    background-color: rgba(255, 228, 196, 0.347);
}

a{
    font-size: 1.2rem;
    text-decoration: none;
    color: blue;
}

#confirme{
    margin-bottom: 5px;
}

#log{
    background-color: var(--cor12);
}